# Application Configuration
spring:
  application:
    name: ms-user
  
  # PostgreSQL Database Configuration
  datasource:
    url: jdbc:postgresql://localhost:5435/ms_user_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  # JPA/Hibernate Configuration
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
  
  # SQL Initialization (comentar si no se desea ejecutar schema.sql y data.sql)
  sql:
    init:
      mode: always
      continue-on-error: false
  
  # Jackson Configuration
  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: America/Lima

# Server Configuration
server:
  port: ${SERVER_PORT:8082}

# Cloudinary Configuration
cloudinary:
  cloud_name: ${CLOUDINARY_CLOUD_NAME:diyjoltuf}
  api_key: ${CLOUDINARY_API_KEY:699915861721535}
  api_secret: ${CLOUDINARY_API_SECRET:Cids6m4131L7zgB-xzSwLDavkpg}
  default_profile_picture: ${DEFAULT_PROFILE_PICTURE_URL:https://res.cloudinary.com/diyjoltuf/image/upload/v1764176345/profileDefault_ai8ba9_v2qipf.jpg}

# Eureka Client Configuration
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}

# Logging Configuration
logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
    pe:
      edu:
        upeu:
          microservice_user: DEBUG
