version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: ms_auth_postgres
    environment:
      POSTGRES_DB: ms_auth_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - microservice-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Uncomment to run the application with Docker
  # microservice-auth:
  #   build: .
  #   container_name: ms_auth_app
  #   environment:
  #     DB_URL: jdbc:postgresql://postgres:5432/ms_auth_db
  #     DB_USERNAME: postgres
  #     DB_PASSWORD: postgres
  #     JWT_SECRET: mySecretKeyForJWTTokenGenerationPleaseChangeThisInProduction123456789
  #   ports:
  #     - "8080:8080"
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   networks:
  #     - microservice-network
  #   restart: unless-stopped

volumes:
  postgres_data:
    driver: local

networks:
  microservice-network:
    driver: bridge
